/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue:  #007bff;
  --white: #fff;
  --gray: #f5f5f5;
  --darknav:#FFFF;
}

body {
  min-height: 100vh;
  overflow: hidden;
}
/*dark body*/
.dark-body{
  color: #FFFF;
  background: #121b54;
}

.container {
  position: relative;
  width: 100%;
}

.container h2{
  margin-left:60px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 2rem;
  color:  #7A1E2B;
 
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  transition: 0.5s;
  overflow:hidden;
  border-left:#7A1E2B 10px solid;
}
/*dark nav*/
.dark-nav{
  background-color:white;
  border-left:white 10px solid;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

/*dark*/
.dark-nav ul li:hover,
.dark-nav ul li.hovered {
  background-color: #121b54;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.dark-nav ul li a{
  color: #121b54;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.dark-nav ul li:hover a,
.dark-nav ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  font-size:19px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--blue);
  display: none;
}

.navigation ul li:hover .dropdown-menu {
  display: block;
}

.navigation ul li .dropdown-menu li {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.navigation ul li .dropdown-menu li:hover,
.navigation ul li .dropdown-menu li.hovered {
  background-color: var(--white);
}

.navigation ul li .dropdown-menu li a {
  color: var(--white);
}

.navigation ul li .dropdown-menu li:hover a,
.navigation ul li .dropdown-menu li.hovered a {
  color: var(--blue);
}
/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  overflow-y: auto;
}
/*dark main*/
.dark-body{
  background:#121b54;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 30px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  color:var(--blue);
}

.search label {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: relative;

}
.search label input::placeholder{
  background-color: transparent;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 6px 20px;
  padding-left: 42px;
  font-size: 18px;
  outline: none;
  border: 2px solid var(--blue);
  background: transparent;
}

.search label ion-icon {
  position: absolute;
  left: 20.2px;
  font-size: 1.4rem;
  color:var(--blue);
}

.dark,.login,
.login a {
  position: relative;
  cursor: pointer;
  color: var(--blue);
}

.dark ion-icon ,.login ion-icon{
  font-size: 1.6rem;
}
/*dark icon*/
.dark-body .dark ion-icon ,
.dark-body .login ion-icon{
  color:white;
}
.toggle ion-icon{
  font-size:2.5rem;
}

.footer {
  display: flex;
 
}

/* Style for the copyright text */
.footer .copyright {
  font-size: 14px;
  color: #adb5bd;
  text-align: center;
}

.hero{
  width: 100%;
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px
}
.boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:90px;
}
.box{
  width: 250px;
  height: 100px;
  box-shadow:  1px 1px 2px 3px #EAE3D5;
  border-radius: 20px;
  padding: 9px 10px;
  text-align: center;
}
#form{
  width: 300px;
  height: 50px;
}
.form label {
  display: flex;
  align-items: center;
  position: relative;
}

.form input[type="password"]{
  padding-right: 30px;
  margin-top: 20px;
  border: none;
  outline: none;
  background: transparent;
}
.dark-body form input[type="password"]{
  color: white;
}
.fonction, .grade, .organisme, .pays, .format, .annee {
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
}
.fonction option, .grade option, .organisme option, .pays option,.format option, .annee option {
  background-color:#7a1e2a67;
  color: rgb(20, 2, 29);
}
.form .password-icon {
  margin-top: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
  color:black
}
.dark-body .form .password-icon{
  color:white;
}
.text-center{
  display: flex;
  gap: 40px;
  margin-left: 380px;
  margin-top: 40PX;
}
button{
  width: 90px;
  height:30px;
  border: none;
  background-color: #007bff;
  border-radius: 40px;
  color: #fff;
}
button[type="reset"]:hover{
  background-color: rgb(227, 62, 62);
}
button:hover{
  background: #53ee70;
}

/*consulter*/
table {
  border-collapse: collapse;
 
  max-width: 100%;

}
.dark-body label,
.dark-body th{
  color:rgb(8, 8, 92)
}

th, td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid #007bffa4;
}

th {
  background-color:#7a1e2aa4;
  font-weight: bold;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
  padding: 2px;
  border: 1px solid #D8000C;
  border-radius: 5px;
  font-size: 12px;     
}
.success{
  color: #07522a;
  background-color: #8fc090;
  padding: 2px;
  border: 1px solid #022d0d;
  border-radius: 5px;
  font-size: 12px; 
}

/*dark mode*/
.dark-body .container h2{
  color: #f5f5f5;
}
/*add*/
.boxs{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px; 
  text-align: center;

}

.forms {
  background-color: #EAE3D5;
  width: 200px;
  height: 100px;
  border: 2px solid var(--blue);
  padding: 30px 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  
}

.forms:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 10px 3px  #eae3d564;
}

.forms h3 {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #410f0f;

}

.forms p {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0;
  color: #ffffff;
}

 
/*consulter*/
table {
  border-collapse: separate;
  max-width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.n-p{
  margin-top: 7px;
 text-align: center;
 
}
th, td {
  padding: 12px 10px;
  text-align: center; 
  border-bottom: 2px solid #007bff;
  font-size: 12px;
}

th {
  background-color:#EAE3D5 ;
  font-weight: bold;
  width: 150PX;
}

/*supprimer*/
td a {
  padding: 8px 10px;
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}
/*les formulaire*/
.edit_icon ,.dow_icon{
color:#18a459;
cursor: pointer;
font-size: 17px;
font-weight: bold;
}
.dow_icon{
  color:rgb(127, 8, 127)
}

.information {
  margin-top: 30px;
  background-color:   #EAE3D5;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(111, 161, 225, 0.3);
  width: 90%;
  margin-left: 50px;
  
}
.emplacement{
  display: flex;
}
.fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2% 0;
}

.input-field {
  flex: 1;
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

label {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

select,
input[type="number"],
input[type="text"],
input[type="date"],
input[type="file"],
textarea {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  margin-top: 3px;
  box-shadow: 7px 2px 10px #007bffb1;
}
input[type="email"],
input[type="tel"] {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  margin-top: 5px;
  box-shadow: 7px 2px 10px #007bffb1;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="file"]:focus{
border: #007bff 2px solid;
}

#cc{
  font-size: large;
}
.dark-body #cc,
.dark-body p{
  color:#121b54;

}
.pagination-btns{
  display: flex;
  justify-content: space-around;

  padding: 0 4%;
}
.nextPage, .previousPage{
  background-color: #007bff;
  color: #fff;
  width: 30%;
  cursor: pointer;
  padding: 2%;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
}
.nextPage:hover, .previousPage:hover{
  background-color:#7a1e2acb;
}

button[type="submit"] {
  width: 100px;
  background-color: #007bff;
  color: white;
  padding: 7px 17px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 13px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color:#7a1e2a;
}

label {
  display: block;
  margin-bottom: 5px;
}

select.wilaya {
  width: 70%;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}

option {
  font-size: 16px;
}

.remarque {
  
  background-color: #f2f2f2;
  border: 1px solid #630808;
  padding: 10px;
  margin: 5px 25px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }
}


/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
